# Run the following command to reformat a file:
# clang-format -i -style=Google <file>
# Or use clang-format-diff to only reformat the changed lines:
# https://clang.llvm.org/docs/ClangFormat.html

# 基础风格: LLVM(默认), Google, Chromium, Mozilla
BasedOnStyle: Google
# 语言: None, Cpp, Java, JavaScript, ObjC, Proto, TableGen, TextProto
Language: Cpp
# 继承最常用的指针和引用的对齐方式
DerivePointerAlignment: false
# 构造函数的初始化列表的缩进宽度
ConstructorInitializerIndentWidth:  4
# 每行字符的限制，0表示没有限制
ColumnLimit: 120
# 指针和引用的对齐: Left, Right, Middle
PointerAlignment: Left
# 标准: Cpp03, Cpp11, Auto
Standard: Cpp11
# tab宽度
TabWidth: 2
# 使用tab字符: Never, ForIndentation, ForContinuationAndIndentation, Always
UseTab: Never
